# Connect to Server

In [3]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import psycopg2 as pg

## Read in login and pass
with open('panama_papers/rootkey.csv') as f:
    login = f.readline().strip('\n')
    passw = f.readline().strip('\n')
    
engine_string = 'postgresql+psycopg2://' + login + ':' + passw + '@offshoredb.cwwa5jzhqwm0.us-east-1.rds.amazonaws.com:5432/offshoredb'
engine = create_engine(engine_string)
conn=engine.raw_connection()
cur = conn.cursor()

## Download Data

In [4]:
flat_acris = pd.read_sql_table('flat_acris', engine)
offshore = pd.read_sql_table('offshore_papers', engine)

flat_acris['name'] = flat_acris['name'].str.lower()
offshore['name_entity'] = offshore['name_entity'].str.lower()

## Merge Data for saving

In [32]:
df = flat_acris.merge(offshore, left_on = 'name', right_on = 'name_entity', how='inner')
df.head()

,document_id,name,street_number,street_name,unit,crfn,doc_type,doc_amount,pct_transferred,party_type,good_through_date,name_officer,name_entity,country_officer,address_officer,countries_entity,address_entity,type
0,2003021901996001,monaco corp.,1928,PROSPECT AVENUE,nan,2003000053607.0,DEED,140000.0,0.0,2.0,07/31/2015 12:00:00 AM,THE BEARER,monaco corp.,0,HSBC PRIVATE BANK (MONACO) S.A. 17; AVENUE D'O...,Monaco,HSBC PRIVATE BANK (MONACO) S.A. 17; AVENUE D'O...,panama
1,2003112500944001,monaco corp.,115-41,155 STREET,nan,2004000083615.0,DEED,196000.0,0.0,2.0,07/31/2015 12:00:00 AM,THE BEARER,monaco corp.,0,HSBC PRIVATE BANK (MONACO) S.A. 17; AVENUE D'O...,Monaco,HSBC PRIVATE BANK (MONACO) S.A. 17; AVENUE D'O...,panama
2,2005122201580001,monaco corp.,172-24,116 AVENUE,nan,2006000034855.0,DEED,160000.0,100.0,2.0,07/31/2015 12:00:00 AM,THE BEARER,monaco corp.,0,HSBC PRIVATE BANK (MONACO) S.A. 17; AVENUE D'O...,Monaco,HSBC PRIVATE BANK (MONACO) S.A. 17; AVENUE D'O...,panama
3,2004031700497001,rokiah investment group limited,80,COLUMBUS CIRCLE,NT67C,2004000237129.0,DEED,3512962.5,0.0,2.0,07/31/2015 12:00:00 AM,SYED MOHAMAD BIN MOHDD NURSIN,rokiah investment group limited,United Kingdom,CHESTERFIELD GROUP LIMITED CHESTERFIELD BUILDI...,Cyprus,CHESTERFIELD GROUP LIMITED CHESTERFIELD BUILDI...,panama
4,2004043001787001,j & m holdings inc.,1667,NELSON AVENUE,nan,2004000332122.0,DEED,460000.0,0.0,2.0,07/31/2015 12:00:00 AM,LAPLANTE JENNIFER RUTH,j & m holdings inc.,0,0,Barbados,0,paradise