# Merge data for Panama Papers

In [3]:
import pandas as pd
import numpy as np

### Read in files

In [6]:
edges = pd.read_csv('panama/panama_papers.edges.csv')
entities = pd.read_csv('panama/panama_papers.nodes.entity.csv')
officers = pd.read_csv("panama/panama_papers.nodes.officer.csv")

/home/ec2-user/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Merge on 'node_id' from edges

TO DO: investigate 'intermediary'

In [37]:
edges_merged = pd.merge(edges[edges['rel_type'] == 'officer_of'], 
                        officers, 
                        left_on = 'node_1', 
                        right_on = 'node_id', 
                        how='right')

final_merged = pd.merge(edges_merged, 
                        entities, 
                        left_on = 'node_2', 
                        right_on = 'node_id', 
                        how='left')

final_merged.columns = final_merged.columns.str.replace('_y', '_entity')
final_merged.columns = final_merged.columns.str.replace('_x', '_officer')

### Limit columns

In [49]:
final_merged = final_merged[['name_officer',
                             'name_entity',
                             'countries_officer',
                             'address_officer',
                             'countries_entity',
                             'address_entity']]

In [51]:
final_merged.head()

,name_officer,name_entity,countries_officer,address_officer,countries_entity,address_entity
0,KIM SOO IN,TOPSON MARK LIMITED,South Korea,NaN,United States,MR WALTER KIM; ESQ. \t CO RODI & POLLOCK 444 ...
1,Tian Yuan,CELLO HOLDINGS LIMITED,China,NaN,Hong Kong,"RAPID MANAGEMENT SERVICES COMPANY 4TH FLOOR, W..."
2,GREGORY JOHN SOLOMON,Hanuman Energy Ltd.,Australia,NaN,Singapore,105 SOPHIA ROAD #01-03 SINGAPORE 228170
3,MATSUDA MASUMI,"BAOJ INTERNATIONAL CO., LTD.",Japan,NaN,Hong Kong,ORION HOUSE SERVICES (HK) LIMITED ROOM 1401; 1...
4,HO THUY NGA,BLUEWATER ALLIANCE LIMITED,Viet Nam,NaN,Hong Kong,CORPORATE MANAGEMENT SERVICES LIMITED 1301 BAN...

### How many unique companies and people?

In [58]:
total = final_merged.shape[0]
companies = len(final_merged['name_entity'].unique())
people = len(final_merged['name_officer'].unique())

print("Number unique companies: {}, number of unique people: {}".format(companies, people))

Number unique companies: 119252, number of unique people: 122815

In [55]:
final_merged.to_csv('panama_papers_cleaned.csv')